{{ define "main" }}
<section id="intro">
	<h1>Manage local<br />community <span class="primary-text">events</span></h1>
	<p>We're building an open source event manager.<br />Soon you'll be able to run your own server or organize events on our public server.</p>
	<span>
		<a class="btn primary" href="/mission">Mission</a>
		<a class="btn primary github" href="https://github.com/eventhunt-org"><span class="fa-brands fa-github"></span>GitHub</a>
	</span>
</section> <!-- #intro -->
<section id="message1" class="headline">
	<h2>The start of something <span>great</span></h2>
</section> <!-- #message1 -->
<section id="benefits" class="intro-cards">
	<div class="card intro organize">
		<header><i class="fa-solid fa-people-group"></i></header>
		<footer>
			<h4>Organize</h4>
			<p>Create events, manage RSVPs, and more for your local group, meet up, church, etc.</p>
		</footer>
	</div> <!-- .organize -->
	<div class="card intro attend">
		<header><i class="fa-solid fa-calendar-check"></i></header>
		<footer>
			<h4>Attend</h4>
			<p>Find events in your area with people who share similar interests.</p>
		</footer>
	</div> <!-- .attend -->
	<div class="card intro open-source">
		<header><i class="fa-solid fa-code"></i></header>
		<footer>
			<h4>Open-Source</h4>
			<p>Find events in your area with people who share similar interests.</p>
		</footer>
	</div> <!-- .open-source -->
</section> <!-- #benefits -->
{{ end }}
